recursive-include csrc *.cu *.cuh *.cpp *.h *.hpp *.inl *.py
recursive-include csrc_nc *.cu *.cuh *.cpp *.h *.hpp *.inl *.py
recursive-include stream_cqsa *.py
include README.md LICENSE
recursive-include third_party *.txt
prune build
global-exclude *.so *.pyc __pycache__/*
